
/* Set the page height to 100% */
html, body {
    height: 100%;
}


/* Don't allow the user to select anything */
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}


/* Disable links for disabled tabs*/
.nav-pills li.disabled a {
    pointer-events: none;
}


/* Style the "info" region */
.info-region {
    margin-left: 5%;
}

.info-region p {
    font-size: 150%;
}

.info-region h1 {
    font-size: 300%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.info-region .title {
    font-size: 400%
}


/* Style the modal dialogs */
.modal {
    top: 30%;  /* Center the modal on the page*/
}


/* Format the carousel */
div.carousel-inner .item img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}


/* Format the plate SVG image */

#plate-svg-container {
    max-width: 100%;
    max-height: 400px;  /* Set this to a fixed height for now...*/
    margin: 30px 10% 0 10%;
}

#plate-svg {
    display: block;
    margin: auto;
    height: 400px;
}


/* Override glyphicon paths */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix')
    format('embedded-opentype'),
    url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('./fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
    format('svg');
}


/* The plot */

.plot-container {
    margin-top: 20px;
    height: 500px;
}


/* Progress indicator plate */

@keyframes current-well {
    from { fill: #0000ff; }
    to { fill: #00ff00; }
}


#progress-wells .well {
    fill: #ffffff;
}

#progress-wells .well.progress-excluded {
    fill: #aaaaaa;
}

#progress-wells .well.progress-read {
    fill: #00ff00;
}

#progress-wells .well.progress-pending {
    fill: #0000ff;
}

#progress-wells .well.progress-current {
    animation-name: current-well;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#progress-wells .well.progress-blank {
    fill: #ffa500;
}

#progress-wells .well.progress-error {
    fill: #ff0000;
}


#progress-legend {
    margin-top: 2ex;
    margin-left: 1em;
}

@keyframes current-well-legend {
    from { color: #0000ff; }
    to { color: #00ff00; }
}

#progress-legend span.progress-pending {
    color: #0000ff;
}

/* This is annoying...Probably will leave it out... */
#progress-legend span.progress-current {
    animation-name: current-well-legend;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#progress-legend span.progress-read {
    color: #00ff00;
}

#progress-legend span.progress-blank {
    color: #ffa500;
}

#progress-legend span.progress-excluded {
    color: #888888;
}